* {
    margin: 0;
    padding: 0;
    font-family: cantarell;
}

.container {
    display: flex;
}

li {
    list-style: none;
}

.left-div img {
    height: 35px;
    margin: 0 auto;
    padding-top: 5px;

}

.left-div .title {
    display: none;
}

.fixed-logo {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 5;

}

.logo-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 5;

}

.fixed-menu {
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 3;
  
}

.left-div .menu-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 0.1px solid rgb(145, 137, 137);
    background-color: #ffffff;

}

.left-div i {
    font-size: 21px;
    color: black;
    padding: 8px;
}


.left-div .active a {
    color: white;
    background-color: #04aa6d;
    border-radius: 5px;
}

.left-div .active i {
    border: 1px solid green;
    border-radius: 8px;
}

/* ---------BODY-------- */
.body-section {
    margin-top: 45px;
    padding: 0 15px;
    width: 100%;
    height: 100vh;
    
}

.body-section>* {
    font-size: small;
}

.body-section i {
    font-size: 15px;
}

.title {
    text-align: left;
}


.contents {
    margin-top: 8px;
    padding-bottom: 100px;
}

.topic-container {
    margin: 5px 5px 5px 5px;
    font-weight: bold;

}


.notice-section,.notes-section, .assignment-section {
    border-radius: 10px;
    margin-bottom: 13px;
    padding: 10px;
    border-bottom: 0.1px solid rgb(211, 193, 193);
   
}

.notice-section:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.author {
    margin-left: 60px;
}

.date {
    float: right;

}

.notice-content {
    margin: 8px 12px 5px 60px;
}

.interact {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 50px;


}

.interact a {
    color: #000;
    text-decoration: none;
}

.interact i {

    font-size: 18px;
    color: #555;
    padding: 3px;
}

.interact i:hover {
    color: #04aa6d;
    background-color: rgb(149, 211, 211);
    border-radius: 50%;
}

.reply {
    display: none;
}


.flex-title,.flex-buttons{
    display: flex;
    justify-content: space-between;
}

.flex-title .date{
    flex-shrink: 0;
}

.date i{
    margin-left: 8px;
}


.notes-section>*, .assignment-section>*{
    padding: 5px;
}

/* .note-title{
    font-weight: bold;

} */
textarea, input{
    resize: none;
    box-sizing: border-box;
}
    select{
    width: 100%;
    padding: 8px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    
}
input[type=submit]{
    cursor: pointer;
    margin-top: 10px;
}



/* --------------------FEEDBACK--------------------------------- */

.feedback-section {
    max-width: 400px;
    margin: 0 auto;
    padding:  15px 0;
    
}
    .feedback-head{
        text-align: center;
        margin-bottom: 30px;
        
    }

    
    .feedback-section textarea {
    display: block;
    margin: 10px 0;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    
    }

    .feedback-section .about-you{
        height: 30px;
    }

    .feedback-section input[type=submit]{
        width: 100px;
        height: 30px;
        border-radius: 3px;
        background-color: #04aa6d;
        color: white;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
    }

/* --------------Teacher's Section----------------------- */

.notice textarea{
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}


.notes-section input, .assignment-section input{
    color: #04aa6d;
    border: 0.1px solid #595959;
    width: 30%;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 9px;  
    cursor: pointer;
    box-sizing: border-box;
    
}
.notes-section input:hover, .assignment-section input:hover{
    background-color: #04aa6d;
    color: white;
    border: none;

}

    .post-assignment{
        border-bottom: 1px solid #04aa6d;
        padding: 10px 20px;
        margin-bottom: 12px;
      
    }
    .post-assignment .title{
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .post-assignment input,.post-assignment textarea{
        display: block;
        width: 100%;
        padding: 3px;
        margin:  7px 0;
        
    }
    .post-assignment label{
        margin:  15px 0;
       
    }

    .post-assignment input[type=submit]{
        width: 80px;
        height: 28px;
        background-color: #04aa6d;
        border: none;
        color: white;
        border-radius: 3px;
    }



.container1 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  
  padding: 12px 6px;
  margin: 10px 0;
}

.darker{
  border-color: #ccc;
  background-color: #ddd;
}

.container1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 img {
object-fit: cover;
  float: left;
  max-width: 40px;
  height: 40px;
  /*width: 100%;*/
  /*margin-right: 20px;*/
  margin-right: 12px;
  border-radius: 50%;
}

.container1 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
  margin-top: 10px;

}

.time-left {
  float: left;
  color: #999;
  margin-top: 10px;

}
.replies{
    float: left;
    color: #999;
    /*margin-left: 20px;*/
    margin-top: 10px;

}
a{
    text-decoration: none;
    
}
@media only screen and (min-width: 800px) {
    .container1 img {
        margin-right: 20px;
    }
    .container1{
        padding: 10px 20px;
    }

    }



/* Right Column */

.right-div {
    display: none;
}



@media only screen and (min-width: 800px) {

*{
    font-size: large;
}
    .fixed-logo,
    .fixed-menu {
        position: relative;
    }


    .left-div .menu-section,
    .left-div .title {
        display: block;
        border: none;
    }


    .left-div {
        height: 100%;
        width: 20%;
        position: fixed;
        border-right: 0.1px solid rgb(211, 193, 193);
        z-index: 3;
        padding-right: 20px;
    }

   
    .left-div li a {
        display: flex;
        align-items: center;
        color: #000;
        padding: 9px 14px;
        text-decoration: none;
        margin-top: 10px;
    }

    .left-div li i {
        padding: 0 20px 0 2px;    

    }
    .logo-section{
        display: inline;
        position: relative;
    }
    .menu-section{
        padding: 0px;
    }
   

    .left-div li a.active {
        background-color: #04aa6d;
        color: white;
        border-radius: 10px;
    }

    .left-div li a:hover:not(.active) {
        background-color: #555;
        color: white;
        border-radius: 10px;
    }
    .left-div li a:hover:not(.active) i{
        color: white;
    }

    .left-div .active i {
        border: 0;
        color: white;
    }

    .body-section {
        margin-left: 23%;
        width: 45%;
        margin-top: 20px;
        border-right: 0.1px solid rgb(211, 193, 193);

    }
    .body-section>*{
        font-size: medium;
    }
    .title {
    text-align: center;
}


/* --------Right div------------- */

.right-div{
    display: inline;
    margin: 20px 0 0 15px;
    width: 25%;    


}

.resource-content a{
    text-decoration: none;
    
}

.resource-content li{
    padding: 10px;
}

.right-div h3{
   margin-bottom: 13px;
}


}

@media only screen and (min-width: 1100px) {
    
    body{
        padding: 20px 30px;
    }
    .logo-section, .menu-section{
        margin:5px 0 0 25px ;
    }

}

* {
    margin: 0;
    padding: 0;
    font-family: cantarell;
}

.container {
    display: flex;
}

li {
    list-style: none;
}

.left-div img {
    height: 35px;
    margin: 0 auto;
    padding-top: 5px;

}

.left-div .title {
    display: none;
}

.fixed-logo {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 5;

}

.logo-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 5;

}

.fixed-menu {
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 3;
  
}

.left-div .menu-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 0.1px solid rgb(145, 137, 137);
    background-color: #ffffff;

}

.left-div i {
    font-size: 21px;
    color: black;
    padding: 8px;
}


.left-div .active a {
    color: white;
    background-color: #04aa6d;
    border-radius: 5px;
}

.left-div .active i {
    border: 1px solid green;
    border-radius: 8px;
}

/* ---------BODY-------- */
.body-section {
    margin-top: 45px;
    padding: 0 15px;
    width: 100%;
    height: 100vh;
    
}

.body-section>* {
    font-size: small;
}

.body-section i {
    font-size: 15px;
}

.title {
    text-align: left;
}


.contents {
    margin-top: 8px;
    padding-bottom: 100px;
}

.topic-container {
    margin: 5px 5px 5px 5px;
    font-weight: bold;

}


.notice-section,.notes-section, .assignment-section {
    border-radius: 10px;
    margin-bottom: 13px;
    padding: 10px;
    border-bottom: 0.1px solid rgb(211, 193, 193);
   
}

.notice-section:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.author {
    margin-left: 60px;
}

.date {
    float: right;

}

.notice-content {
    margin: 8px 12px 5px 60px;
}

.interact {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 50px;


}

.interact a {
    color: #000;
    text-decoration: none;
}

.interact i {

    font-size: 18px;
    color: #555;
    padding: 3px;
}

.interact i:hover {
    color: #04aa6d;
    background-color: rgb(149, 211, 211);
    border-radius: 50%;
}

.reply {
    display: none;
}


.flex-title,.flex-buttons{
    display: flex;
    justify-content: space-between;
}

.flex-title .date{
    flex-shrink: 0;
}

.date i{
    margin-left: 8px;
}


.notes-section>*, .assignment-section>*{
    padding: 5px;
}

/* .note-title{
    font-weight: bold;

} */
textarea, input{
    resize: none;
    box-sizing: border-box;
}
    select{
    width: 100%;
    padding: 8px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    
}
input[type=submit]{
    cursor: pointer;
    margin-top: 10px;
}



/* --------------------FEEDBACK--------------------------------- */

.feedback-section {
    max-width: 400px;
    margin: 0 auto;
    padding:  15px 0;
    
}
    .feedback-head{
        text-align: center;
        margin-bottom: 30px;
        
    }

    
    .feedback-section textarea {
    display: block;
    margin: 10px 0;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    
    }

    .feedback-section .about-you{
        height: 30px;
    }

    .feedback-section input[type=submit]{
        width: 100px;
        height: 30px;
        border-radius: 3px;
        background-color: #04aa6d;
        color: white;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
    }

/* --------------Teacher's Section----------------------- */

.notice textarea{
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}


.notes-section input, .assignment-section input{
    color: #04aa6d;
    border: 0.1px solid #595959;
    width: 30%;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 9px;  
    cursor: pointer;
    box-sizing: border-box;
    
}
.notes-section input:hover, .assignment-section input:hover{
    background-color: #04aa6d;
    color: white;
    border: none;

}

    .post-assignment{
        border-bottom: 1px solid #04aa6d;
        padding: 10px 20px;
        margin-bottom: 12px;
      
    }
    .post-assignment .title{
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .post-assignment input,.post-assignment textarea{
        display: block;
        width: 100%;
        padding: 3px;
        margin:  7px 0;
        
    }
    .post-assignment label{
        margin:  15px 0;
       
    }

    .post-assignment input[type=submit]{
        width: 80px;
        height: 28px;
        background-color: #04aa6d;
        border: none;
        color: white;
        border-radius: 3px;
    }



.container1 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  
  padding: 12px 6px;
  margin: 10px 0;
}

.darker{
  border-color: #ccc;
  background-color: #ddd;
}

.container1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 img {
object-fit: cover;
  float: left;
  max-width: 40px;
  height: 40px;
  /*width: 100%;*/
  /*margin-right: 20px;*/
  margin-right: 12px;
  border-radius: 50%;
}

.container1 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
  margin-top: 10px;

}

.time-left {
  float: left;
  color: #999;
  margin-top: 10px;

}
.replies{
    float: left;
    color: #999;
    /*margin-left: 20px;*/
    margin-top: 10px;

}
a{
    text-decoration: none;
    
}
@media only screen and (min-width: 800px) {
    .container1 img {
        margin-right: 20px;
    }
    .container1{
        padding: 10px 20px;
    }

    }



/* Right Column */

.right-div {
    display: none;
}



@media only screen and (min-width: 800px) {

*{
    font-size: large;
}
    .fixed-logo,
    .fixed-menu {
        position: relative;
    }


    .left-div .menu-section,
    .left-div .title {
        display: block;
        border: none;
    }


    .left-div {
        height: 100%;
        width: 20%;
        position: fixed;
        border-right: 0.1px solid rgb(211, 193, 193);
        z-index: 3;
        padding-right: 20px;
    }

   
    .left-div li a {
        display: flex;
        align-items: center;
        color: #000;
        padding: 9px 14px;
        text-decoration: none;
        margin-top: 10px;
    }

    .left-div li i {
        padding: 0 20px 0 2px;    

    }
    .logo-section{
        display: inline;
        position: relative;
    }
    .menu-section{
        padding: 0px;
    }
   

    .left-div li a.active {
        background-color: #04aa6d;
        color: white;
        border-radius: 10px;
    }

    .left-div li a:hover:not(.active) {
        background-color: #555;
        color: white;
        border-radius: 10px;
    }
    .left-div li a:hover:not(.active) i{
        color: white;
    }

    .left-div .active i {
        border: 0;
        color: white;
    }

    .body-section {
        margin-left: 23%;
        width: 45%;
        margin-top: 20px;
        border-right: 0.1px solid rgb(211, 193, 193);

    }
    .body-section>*{
        font-size: medium;
    }
    .title {
    text-align: center;
}


/* --------Right div------------- */

.right-div{
    display: inline;
    margin: 20px 0 0 15px;
    width: 25%;    


}

.resource-content a{
    text-decoration: none;
    
}

.resource-content li{
    padding: 10px;
}

.right-div h3{
   margin-bottom: 13px;
}


}

@media only screen and (min-width: 1100px) {
    
    body{
        padding: 20px 30px;
    }
    .logo-section, .menu-section{
        margin:5px 0 0 25px ;
    }

}

